* {
  font-family: 'Amatic SC', cursive;
  background-color: #1f1723;
}

h1 {
  font-size: 72px;
  text-align: center;
  text-shadow: 1px 1px #c895e2;
  color: #bc13fe;

}

body {
  color: #bc13fe;
  text-shadow: 1px 1px #c895e2;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.smallerContainer {
  justify-content: center;
}

button {
  font-size: 36px;
  width: 75px;
  height: 50px;
  background-color: #9b73af;
  color: #413049;
  text-shadow: 1px 1px #c895e2;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(203, 197, 197, 0.24),0 17px 50px 0 rgba(201, 194, 194, 0.19);;
}

.rowOne {
  border-bottom: 2px solid black;
  border-color: #795a89;
}

.rowThree {
  border-top: 2px solid black;
  border-color: #795a89;
}

.spaceOne {
  border-right: 2px solid black;
  border-color: #795a89;
}

.spaceThree {
  border-left: 2px solid black;
  border-color: #795a89;
}

td {
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 64px;
}