* {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 72px;
  text-align: center;
}

button {
  font-size: 36px;
  width: 75px;
  height: 50px;
}

.rowOne {
  border-bottom: 2px solid black;
}

.rowThree {
  border-top: 2px solid black;
}

.spaceOne {
  border-right: 2px solid black;
}

.spaceThree {
  border-left: 2px solid black;
}

td {
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 64px;
}